<?xml version="1.0" encoding="utf-8"?>
<HybridizerMetaConfigFile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Configuration>
    <ReconstructLoops>false</ReconstructLoops>
  </Configuration>
  <ConfigFile HybridType="" DllFullPath="D:\Visual Studio 2017\Projects\MandelBrot\MandelBrot\bin\x64\Release\MandelBrot.exe" PdbFullPath="D:\Visual Studio 2017\Projects\MandelBrot\MandelBrot\bin\x64\Release\MandelBrot.pdb" ResultFileName="result.xml" GenerateLineInformation="true" UseFunctionPointers="true" GenerateAllFile="true" GenerateHiddenStubs="true" UseHybridArrays="false" EnableExceptions="false" Features="" DelegateSupport="false" LinesPerFile="0" HybridizerJitterServicePath="C:\Users\ian_000\AppData\Local\Microsoft\VisualStudio\15.0_8a643640\Extensions\pji4c2no.cte\bin\Hybridizer.PTXJitterService.9.1.exe" HybridizerJitterServiceOptions="--gpu-architecture=auto;--relocatable-device-code=false;-lineinfo;--std=c++11;-DNO_EXCEPTION">
    <TraceConfig>
      <MaxStackDumps>100</MaxStackDumps>
      <Enabled>false</Enabled>
      <StackOverflowThreshold>200</StackOverflowThreshold>
      <Level>2</Level>
    </TraceConfig>
    <HybridFlavor FlavorName="CUDA" GenerateCWrapper="false" BuiltInFileNames="C:\Users\ian_000\AppData\Local\Microsoft\VisualStudio\15.0_8a643640\Extensions\pji4c2no.cte\include\hybridizer.cuda.builtins;" />
    <HybridElements HybridType="MandelBrot.GPUFractal">
      <HybridizedMethod MethodName="IterCount" MethodRename="MandelBrotx46GPUFractalx46IterCount" ForceEntryPoint="false">
        <ParameterTypes>
          <string>System.Double</string>
          <string>System.Double</string>
          <string>System.Int32</string>
        </ParameterTypes>
      </HybridizedMethod>
      <HybridizedMethod MethodName="Run" MethodRename="run" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.Double[]</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
        </ParameterTypes>
      </HybridizedMethod>
      <HybridFlavor FlavorName="CUDA" OutputFileName="MandelBrot.GPUFractal.cu" GenerateCWrapper="true" BuiltInFileNames="C:\Users\ian_000\AppData\Local\Microsoft\VisualStudio\15.0_8a643640\Extensions\pji4c2no.cte\include\hybridizer.cuda.builtins;" />
    </HybridElements>
    <DisplayLicenseDetails>false</DisplayLicenseDetails>
  </ConfigFile>
</HybridizerMetaConfigFile>